{:paths ["src" "resources"]

 :deps
 {ch.qos.logback/logback-classic {:mvn/version "1.0.13"},
  com.cognitect/transcriptor {:mvn/version "0.1.5"},
  com.datomic/client-cloud {:mvn/version "0.8.96"},
  org.clojure/core.async {:mvn/version "0.3.442"},
  org.clojure/test.check {:mvn/version "0.9.0"},
  org.clojure/tools.namespace {:mvn/version "0.2.11"}}}
