{:client-cfg {:region "us-east-1"
              :server-type :cloud
              :system "datomic-1"
              :query-group "datomic-1"
              :endpoint "http://entry.datomic-1.us-east-1.datomic.net:8182"
              :proxy-host "localhost"
              :proxy-port 8888}
 :db-name "mbrainz-1968-1973"
 :basedir "subsets"
 :concurrency 3}
