{:client-cfg {:region "us-east-1"
              :server-type :cloud
              :system "stu"
              :query-group "stu"
              :endpoint "http://entry.stu.us-east-1.datomic.net:8182"
              :proxy-host "localhost"
              :proxy-port 8888}
 :db-name "mbrainz-subset-09-18-b"
 :basedir "subsets"
 :concurrency 3}
