{"BB" {:db/ident :country/BB, :country/name "Barbados"},
 "CC" {:db/ident :country/CC, :country/name "Cocos (Keeling) Islands"},
 "EE" {:db/ident :country/EE, :country/name "Estonia"},
 "GG" {:db/ident :country/GG, :country/name "Guernsey"},
 "MM" {:db/ident :country/MM, :country/name "Myanmar"},
 "SS" {:db/ident :country/SS, :country/name "South Sudan"},
 "TT" {:db/ident :country/TT, :country/name "Trinidad and Tobago"},
 "CD"
 {:db/ident :country/CD,
  :country/name "Congo, The Democratic Republic of the"},
 "DE" {:db/ident :country/DE, :country/name "Germany"},
 "GH" {:db/ident :country/GH, :country/name "Ghana"},
 "MN" {:db/ident :country/MN, :country/name "Mongolia"},
 "NO" {:db/ident :country/NO, :country/name "Norway"},
 "RS" {:db/ident :country/RS, :country/name "Serbia"},
 "ST" {:db/ident :country/ST, :country/name "Sao Tome and Principe"},
 "BD" {:db/ident :country/BD, :country/name "Bangladesh"},
 "EG" {:db/ident :country/EG, :country/name "Egypt"},
 "GI" {:db/ident :country/GI, :country/name "Gibraltar"},
 "KM" {:db/ident :country/KM, :country/name "Comoros"},
 "MO" {:db/ident :country/MO, :country/name "Macao"},
 "NP" {:db/ident :country/NP, :country/name "Nepal"},
 "PR" {:db/ident :country/PR, :country/name "Puerto Rico"},
 "SU"
 {:db/ident :country/SU,
  :country/name "Soviet Union (historical, 1922-1991)"},
 "TV" {:db/ident :country/TV, :country/name "Tuvalu"},
 "AD" {:db/ident :country/AD, :country/name "Andorra"},
 "BE" {:db/ident :country/BE, :country/name "Belgium"},
 "CF"
 {:db/ident :country/CF, :country/name "Central African Republic"},
 "EH" {:db/ident :country/EH, :country/name "Western Sahara"},
 "FI" {:db/ident :country/FI, :country/name "Finland"},
 "HK" {:db/ident :country/HK, :country/name "Hong Kong"},
 "IL" {:db/ident :country/IL, :country/name "Israel"},
 "JM" {:db/ident :country/JM, :country/name "Jamaica"},
 "KN" {:db/ident :country/KN, :country/name "Saint Kitts and Nevis"},
 "MP"
 {:db/ident :country/MP, :country/name "Northern Mariana Islands"},
 "PS" {:db/ident :country/PS, :country/name "Palestinian Territory"},
 "RU" {:db/ident :country/RU, :country/name "Russian Federation"},
 "SV" {:db/ident :country/SV, :country/name "El Salvador"},
 "TW" {:db/ident :country/TW, :country/name "Taiwan"},
 "AE" {:db/ident :country/AE, :country/name "United Arab Emirates"},
 "BF" {:db/ident :country/BF, :country/name "Burkina Faso"},
 "CG" {:db/ident :country/CG, :country/name "Congo"},
 "FJ" {:db/ident :country/FJ, :country/name "Fiji"},
 "IM" {:db/ident :country/IM, :country/name "Isle of Man"},
 "MQ" {:db/ident :country/MQ, :country/name "Martinique"},
 "NR" {:db/ident :country/NR, :country/name "Nauru"},
 "PT" {:db/ident :country/PT, :country/name "Portugal"},
 "UY" {:db/ident :country/UY, :country/name "Uruguay"},
 "AF" {:db/ident :country/AF, :country/name "Afghanistan"},
 "BG" {:db/ident :country/BG, :country/name "Bulgaria"},
 "CH" {:db/ident :country/CH, :country/name "Switzerland"},
 "FK"
 {:db/ident :country/FK, :country/name "Falkland Islands (Malvinas)"},
 "GL" {:db/ident :country/GL, :country/name "Greenland"},
 "HM"
 {:db/ident :country/HM,
  :country/name "Heard Island and McDonald Islands"},
 "IN" {:db/ident :country/IN, :country/name "India"},
 "JO" {:db/ident :country/JO, :country/name "Jordan"},
 "KP"
 {:db/ident :country/KP,
  :country/name "Korea (North), Democratic People's Republic of"},
 "MR" {:db/ident :country/MR, :country/name "Mauritania"},
 "RW" {:db/ident :country/RW, :country/name "Rwanda"},
 "SX"
 {:db/ident :country/SX, :country/name "Sint Maarten (Dutch part)"},
 "UZ" {:db/ident :country/UZ, :country/name "Uzbekistan"},
 "AG" {:db/ident :country/AG, :country/name "Antigua and Barbuda"},
 "BH" {:db/ident :country/BH, :country/name "Bahrain"},
 "CI" {:db/ident :country/CI, :country/name "Côte d'Ivoire"},
 "DJ" {:db/ident :country/DJ, :country/name "Djibouti"},
 "GM" {:db/ident :country/GM, :country/name "Gambia"},
 "HN" {:db/ident :country/HN, :country/name "Honduras"},
 "IO"
 {:db/ident :country/IO,
  :country/name "British Indian Ocean Territory"},
 "JP" {:db/ident :country/JP, :country/name "Japan"},
 "LR" {:db/ident :country/LR, :country/name "Liberia"},
 "MS" {:db/ident :country/MS, :country/name "Montserrat"},
 "SY" {:db/ident :country/SY, :country/name "Syrian Arab Republic"},
 "TZ"
 {:db/ident :country/TZ, :country/name "Tanzania, United Republic of"},
 "BI" {:db/ident :country/BI, :country/name "Burundi"},
 "DK" {:db/ident :country/DK, :country/name "Denmark"},
 "FM"
 {:db/ident :country/FM,
  :country/name "Micronesia, Federated States of"},
 "GN" {:db/ident :country/GN, :country/name "Guinea"},
 "KR"
 {:db/ident :country/KR, :country/name "Korea (South), Republic of"},
 "LS" {:db/ident :country/LS, :country/name "Lesotho"},
 "MT" {:db/ident :country/MT, :country/name "Malta"},
 "NU" {:db/ident :country/NU, :country/name "Niue"},
 "PW" {:db/ident :country/PW, :country/name "Palau"},
 "SZ" {:db/ident :country/SZ, :country/name "Swaziland"},
 "ZA" {:db/ident :country/ZA, :country/name "South Africa"},
 "AI" {:db/ident :country/AI, :country/name "Anguilla"},
 "BJ" {:db/ident :country/BJ, :country/name "Benin"},
 "CK" {:db/ident :country/CK, :country/name "Cook Islands"},
 "IQ" {:db/ident :country/IQ, :country/name "Iraq"},
 "LT" {:db/ident :country/LT, :country/name "Lithuania"},
 "MU" {:db/ident :country/MU, :country/name "Mauritius"},
 "CL" {:db/ident :country/CL, :country/name "Chile"},
 "DM" {:db/ident :country/DM, :country/name "Dominica"},
 "FO" {:db/ident :country/FO, :country/name "Faroe Islands"},
 "GP" {:db/ident :country/GP, :country/name "Guadeloupe"},
 "IR"
 {:db/ident :country/IR, :country/name "Iran, Islamic Republic of"},
 "LU" {:db/ident :country/LU, :country/name "Luxembourg"},
 "MV" {:db/ident :country/MV, :country/name "Maldives"},
 "PY" {:db/ident :country/PY, :country/name "Paraguay"},
 "BL" {:db/ident :country/BL, :country/name "Saint Barthélemy"},
 "CM" {:db/ident :country/CM, :country/name "Cameroon"},
 "GQ" {:db/ident :country/GQ, :country/name "Equatorial Guinea"},
 "HR" {:db/ident :country/HR, :country/name "Croatia"},
 "IS" {:db/ident :country/IS, :country/name "Iceland"},
 "LV" {:db/ident :country/LV, :country/name "Latvia"},
 "MW" {:db/ident :country/MW, :country/name "Malawi"},
 "AL" {:db/ident :country/AL, :country/name "Albania"},
 "BM" {:db/ident :country/BM, :country/name "Bermuda"},
 "CN" {:db/ident :country/CN, :country/name "China"},
 "DO" {:db/ident :country/DO, :country/name "Dominican Republic"},
 "GR" {:db/ident :country/GR, :country/name "Greece"},
 "IT" {:db/ident :country/IT, :country/name "Italy"},
 "MX" {:db/ident :country/MX, :country/name "Mexico"},
 "VA"
 {:db/ident :country/VA,
  :country/name "Vatican City State (Holy See)"},
 "XC"
 {:db/ident :country/XC,
  :country/name "Czechoslovakia (historical, 1918-1992)"},
 "AM" {:db/ident :country/AM, :country/name "Armenia"},
 "BN" {:db/ident :country/BN, :country/name "Brunei Darussalam"},
 "CO" {:db/ident :country/CO, :country/name "Colombia"},
 "FR" {:db/ident :country/FR, :country/name "France"},
 "GS"
 {:db/ident :country/GS,
  :country/name "South Georgia and the South Sandwich Islands"},
 "HT" {:db/ident :country/HT, :country/name "Haiti"},
 "KW" {:db/ident :country/KW, :country/name "Kuwait"},
 "MY" {:db/ident :country/MY, :country/name "Malaysia"},
 "NZ" {:db/ident :country/NZ, :country/name "New Zealand"},
 "UA" {:db/ident :country/UA, :country/name "Ukraine"},
 "YE" {:db/ident :country/YE, :country/name "Yemen"},
 "AN"
 {:db/ident :country/AN,
  :country/name "Netherlands Antilles (historical, 1954-2010)"},
 "BO"
 {:db/ident :country/BO,
  :country/name "Bolivia, Plurinational State of"},
 "ER" {:db/ident :country/ER, :country/name "Eritrea"},
 "GT" {:db/ident :country/GT, :country/name "Guatemala"},
 "HU" {:db/ident :country/HU, :country/name "Hungary"},
 "LY" {:db/ident :country/LY, :country/name "Libya"},
 "MZ" {:db/ident :country/MZ, :country/name "Mozambique"},
 "VC"
 {:db/ident :country/VC,
  :country/name "Saint Vincent and The Grenadines"},
 "XE" {:db/ident :country/XE, :country/name "Europe"},
 "AO" {:db/ident :country/AO, :country/name "Angola"},
 "ES" {:db/ident :country/ES, :country/name "Spain"},
 "GU" {:db/ident :country/GU, :country/name "Guam"},
 "KY" {:db/ident :country/KY, :country/name "Cayman Islands"},
 "SA" {:db/ident :country/SA, :country/name "Saudi Arabia"},
 "BQ"
 {:db/ident :country/BQ,
  :country/name "Bonaire, Sint Eustatius and Saba"},
 "CR" {:db/ident :country/CR, :country/name "Costa Rica"},
 "ET" {:db/ident :country/ET, :country/name "Ethiopia"},
 "KZ" {:db/ident :country/KZ, :country/name "Kazakhstan"},
 "SB" {:db/ident :country/SB, :country/name "Solomon Islands"},
 "TC"
 {:db/ident :country/TC, :country/name "Turks and Caicos Islands"},
 "VE"
 {:db/ident :country/VE,
  :country/name "Venezuela, Bolivarian Republic of"},
 "WF" {:db/ident :country/WF, :country/name "Wallis and Futuna"},
 "XG"
 {:db/ident :country/XG,
  :country/name "East Germany (historical, 1949-1990)"},
 "AQ" {:db/ident :country/AQ, :country/name "Antarctica"},
 "BR" {:db/ident :country/BR, :country/name "Brazil"},
 "CS"
 {:db/ident :country/CS,
  :country/name "Serbia and Montenegro (historical, 2003-2006)"},
 "GW" {:db/ident :country/GW, :country/name "Guinea-Bissau"},
 "QA" {:db/ident :country/QA, :country/name "Qatar"},
 "SC" {:db/ident :country/SC, :country/name "Seychelles"},
 "TD" {:db/ident :country/TD, :country/name "Chad"},
 "AR" {:db/ident :country/AR, :country/name "Argentina"},
 "BS" {:db/ident :country/BS, :country/name "Bahamas"},
 "PA" {:db/ident :country/PA, :country/name "Panama"},
 "SD" {:db/ident :country/SD, :country/name "Sudan"},
 "VG" {:db/ident :country/VG, :country/name "Virgin Islands, British"},
 "AS" {:db/ident :country/AS, :country/name "American Samoa"},
 "BT" {:db/ident :country/BT, :country/name "Bhutan"},
 "CU" {:db/ident :country/CU, :country/name "Cuba"},
 "GY" {:db/ident :country/GY, :country/name "Guyana"},
 "SE" {:db/ident :country/SE, :country/name "Sweden"},
 "TF"
 {:db/ident :country/TF, :country/name "French Southern Territories"},
 "UG" {:db/ident :country/UG, :country/name "Uganda"},
 "AT" {:db/ident :country/AT, :country/name "Austria"},
 "CV" {:db/ident :country/CV, :country/name "Cape Verde"},
 "NA" {:db/ident :country/NA, :country/name "Namibia"},
 "RE" {:db/ident :country/RE, :country/name "Réunion"},
 "TG" {:db/ident :country/TG, :country/name "Togo"},
 "VI" {:db/ident :country/VI, :country/name "Virgin Islands, U.S."},
 "ZM" {:db/ident :country/ZM, :country/name "Zambia"},
 "AU" {:db/ident :country/AU, :country/name "Australia"},
 "BV" {:db/ident :country/BV, :country/name "Bouvet Island"},
 "CW" {:db/ident :country/CW, :country/name "Curaçao"},
 "MA" {:db/ident :country/MA, :country/name "Morocco"},
 "SG" {:db/ident :country/SG, :country/name "Singapore"},
 "TH" {:db/ident :country/TH, :country/name "Thailand"},
 "BW" {:db/ident :country/BW, :country/name "Botswana"},
 "CX" {:db/ident :country/CX, :country/name "Christmas Island"},
 "LA"
 {:db/ident :country/LA,
  :country/name "Lao People's Democratic Republic"},
 "NC" {:db/ident :country/NC, :country/name "New Caledonia"},
 "PE" {:db/ident :country/PE, :country/name "Peru"},
 "SH"
 {:db/ident :country/SH,
  :country/name "Saint Helena, Ascension and Tristan da Cunha"},
 "AW" {:db/ident :country/AW, :country/name "Aruba"},
 "CY" {:db/ident :country/CY, :country/name "Cyprus"},
 "DZ" {:db/ident :country/DZ, :country/name "Algeria"},
 "LB" {:db/ident :country/LB, :country/name "Lebanon"},
 "MC" {:db/ident :country/MC, :country/name "Monaco"},
 "PF" {:db/ident :country/PF, :country/name "French Polynesia"},
 "SI" {:db/ident :country/SI, :country/name "Slovenia"},
 "TJ" {:db/ident :country/TJ, :country/name "Tajikistan"},
 "AX" {:db/ident :country/AX, :country/name "Åland Islands"},
 "BY" {:db/ident :country/BY, :country/name "Belarus"},
 "CZ" {:db/ident :country/CZ, :country/name "Czech Republic"},
 "LC" {:db/ident :country/LC, :country/name "Saint Lucia"},
 "MD" {:db/ident :country/MD, :country/name "Moldova, Republic of"},
 "NE" {:db/ident :country/NE, :country/name "Niger"},
 "PG" {:db/ident :country/PG, :country/name "Papua New Guinea"},
 "SJ" {:db/ident :country/SJ, :country/name "Svalbard and Jan Mayen"},
 "TK" {:db/ident :country/TK, :country/name "Tokelau"},
 "BZ" {:db/ident :country/BZ, :country/name "Belize"},
 "ME" {:db/ident :country/ME, :country/name "Montenegro"},
 "NF" {:db/ident :country/NF, :country/name "Norfolk Island"},
 "PH" {:db/ident :country/PH, :country/name "Philippines"},
 "SK" {:db/ident :country/SK, :country/name "Slovakia"},
 "TL" {:db/ident :country/TL, :country/name "Timor-Leste"},
 "UM"
 {:db/ident :country/UM,
  :country/name "United States Minor Outlying Islands"},
 "VN" {:db/ident :country/VN, :country/name "Viet Nam"},
 "AZ" {:db/ident :country/AZ, :country/name "Azerbaijan"},
 "MF"
 {:db/ident :country/MF, :country/name "Saint Martin (French part)"},
 "NG" {:db/ident :country/NG, :country/name "Nigeria"},
 "SL" {:db/ident :country/SL, :country/name "Sierra Leone"},
 "TM" {:db/ident :country/TM, :country/name "Turkmenistan"},
 "GA" {:db/ident :country/GA, :country/name "Gabon"},
 "KE" {:db/ident :country/KE, :country/name "Kenya"},
 "MG" {:db/ident :country/MG, :country/name "Madagascar"},
 "SM" {:db/ident :country/SM, :country/name "San Marino"},
 "TN" {:db/ident :country/TN, :country/name "Tunisia"},
 "GB" {:db/ident :country/GB, :country/name "United Kingdom"},
 "ID" {:db/ident :country/ID, :country/name "Indonesia"},
 "JE" {:db/ident :country/JE, :country/name "Jersey"},
 "MH" {:db/ident :country/MH, :country/name "Marshall Islands"},
 "NI" {:db/ident :country/NI, :country/name "Nicaragua"},
 "PK" {:db/ident :country/PK, :country/name "Pakistan"},
 "SN" {:db/ident :country/SN, :country/name "Senegal"},
 "TO" {:db/ident :country/TO, :country/name "Tonga"},
 "YT" {:db/ident :country/YT, :country/name "Mayotte"},
 "IE" {:db/ident :country/IE, :country/name "Ireland"},
 "KG" {:db/ident :country/KG, :country/name "Kyrgyzstan"},
 "PL" {:db/ident :country/PL, :country/name "Poland"},
 "SO" {:db/ident :country/SO, :country/name "Somalia"},
 "WS" {:db/ident :country/WS, :country/name "Samoa"},
 "YU"
 {:db/ident :country/YU,
  :country/name "Yugoslavia (historical, 1918-2003)"},
 "GD" {:db/ident :country/GD, :country/name "Grenada"},
 "KH" {:db/ident :country/KH, :country/name "Cambodia"},
 "LI" {:db/ident :country/LI, :country/name "Liechtenstein"},
 "PM"
 {:db/ident :country/PM, :country/name "Saint Pierre and Miquelon"},
 "RO" {:db/ident :country/RO, :country/name "Romania"},
 "ZW" {:db/ident :country/ZW, :country/name "Zimbabwe"},
 "CA" {:db/ident :country/CA, :country/name "Canada"},
 "EC" {:db/ident :country/EC, :country/name "Ecuador"},
 "GE" {:db/ident :country/GE, :country/name "Georgia"},
 "KI" {:db/ident :country/KI, :country/name "Kiribati"},
 "MK"
 {:db/ident :country/MK,
  :country/name "Macedonia, The Former Yugoslav Republic of"},
 "NL" {:db/ident :country/NL, :country/name "Netherlands"},
 "OM" {:db/ident :country/OM, :country/name "Oman"},
 "PN" {:db/ident :country/PN, :country/name "Pitcairn"},
 "TR" {:db/ident :country/TR, :country/name "Turkey"},
 "US" {:db/ident :country/US, :country/name "United States"},
 "BA" {:db/ident :country/BA, :country/name "Bosnia and Herzegovina"},
 "GF" {:db/ident :country/GF, :country/name "French Guiana"},
 "LK" {:db/ident :country/LK, :country/name "Sri Lanka"},
 "ML" {:db/ident :country/ML, :country/name "Mali"},
 "SR" {:db/ident :country/SR, :country/name "Suriname"},
 "VU" {:db/ident :country/VU, :country/name "Vanuatu"},
 "XW" {:db/ident :country/XW, :country/name "[Worldwide]"}}
