{gender
 {"Male" :artist.gender/male, "Female" :artist.gender/female, "Other" :artist.gender/other},
 artist_type
 {"Person" :artist.type/person,
  "Group" :artist.type/group,
  "Other" :artist.type/other},
 release_group_type
 {"Album" :release.type/album,
  "Single" :release.type/single,
  "EP" :release.type/ep,
  "Audiobook" :release.type/audiobook,
  "Other" :release.type/other},
 release_packaging
 {"Jewel Case" :release.packaging/jewelCase,
  "Slim Jewel Case" :release.packaging/slimJewelCase,
  "Digipak" :release.packaging/digipak,
  "Other" :release.packaging/other,
  "Keep Case" :release.packaging/keepCase,
  "None" :release.packaging/none,
  "Cardboard/Paper Sleeve" :release.packaging/cardboardPaperSleeve},
 medium_format
 {"DVD-Video" :medium.format/dvdVideo,
  "LaserDisc" :medium.format/laserDisc,
  "CD" :medium.format/cd,
  "HD-DVD" :medium.format/hddvd,
  "VHS" :medium.format/vhs,
  "SVCD" :medium.format/svcd,
  "DCC" :medium.format/dcc,
  "CD-R" :medium.format/cdr,
  "slotMusic" :medium.format/slotMusic,
  "Blu-ray" :medium.format/bluray,
  "Wax Cylinder" :medium.format/waxCylinder,
  "Cartridge" :medium.format/cartridge,
  "UMD" :medium.format/umd,
  "MiniDisc" :medium.format/miniDisc,
  "Vinyl" :medium.format/vinyl,
  "12\" Vinyl" :medium.format/vinyl12,
  "SACD" :medium.format/sacd,
  "Other" :medium.format/other,
  "DualDisc" :medium.format/dualDisc,
  "10\" Vinyl" :medium.format/vinyl10,
  "DVD" :medium.format/dvd,
  "Piano Roll" :medium.format/pianoRoll,
  "Betamax" :medium.format/betamax,
  "VCD" :medium.format/vcd,
  "DAT" :medium.format/dat,
  "Reel-to-reel" :medium.format/reel,
  "7\" Vinyl" :medium.format/vinyl7,
  "DVD-Audio" :medium.format/dvdAudio,
  "Digital Media" :medium.format/digitalMedia,
  "HDCD" :medium.format/hdcd,
  "Videotape" :medium.format/videotape,
  "USB Flash Drive" :medium.format/usbFlashDrive,
  "Cassette" :medium.format/cassette,
  "8cm CD" :medium.format/cd8cm},
 label_type
 {"Distributor" :label.type/distributor,
  "Holding" :label.type/holding,
  "Production" :label.type/production,
  "Original Production" :label.type/originalProduction,
  "Bootleg Production" :label.type/bootlegProduction,
  "Reissue Production" :label.type/reissueProduction,
  "Publisher" :label.type/publisher}}
