{"Knda" {:db/ident :script/Knda, :script/name "Kannada"},
 "Cakm" {:db/ident :script/Cakm, :script/name "Chakma"},
 "Orkh" {:db/ident :script/Orkh, :script/name "Old Turkish"},
 "Zzzz"
 {:db/ident :script/Zzzz, :script/name "Code for uncoded script"},
 "Moon" {:db/ident :script/Moon, :script/name "Moon"},
 "Geor" {:db/ident :script/Geor, :script/name "Georgian"},
 "Phlv" {:db/ident :script/Phlv, :script/name "Book Pahlavi"},
 "Xpeo" {:db/ident :script/Xpeo, :script/name "Old Persian"},
 "Phnx" {:db/ident :script/Phnx, :script/name "Phoenician"},
 "Java" {:db/ident :script/Java, :script/name "Javanese"},
 "Syrn"
 {:db/ident :script/Syrn, :script/name "Syriac (Eastern variant)"},
 "Khmr" {:db/ident :script/Khmr, :script/name "Khmer"},
 "Ugar" {:db/ident :script/Ugar, :script/name "Ugaritic"},
 "Cans" {:db/ident :script/Cans, :script/name "Canadian Syllabics"},
 "Narb" {:db/ident :script/Narb, :script/name "Old North Arabian"},
 "Ogam" {:db/ident :script/Ogam, :script/name "Ogham"},
 "Mroo" {:db/ident :script/Mroo, :script/name "Mro, Mru"},
 "Olck" {:db/ident :script/Olck, :script/name "Ol Chiki"},
 "Tale" {:db/ident :script/Tale, :script/name "Tai Le"},
 "Tang" {:db/ident :script/Tang, :script/name "Tangut"},
 "Elba" {:db/ident :script/Elba, :script/name "Elbasan"},
 "Hung" {:db/ident :script/Hung, :script/name "Old Hungarian"},
 "Zmth" {:db/ident :script/Zmth, :script/name "Mathematical notation"},
 "Nbat" {:db/ident :script/Nbat, :script/name "Nabataean"},
 "Tibt" {:db/ident :script/Tibt, :script/name "Tibetan"},
 "Bamu" {:db/ident :script/Bamu, :script/name "Bamum"},
 "Latf"
 {:db/ident :script/Latf, :script/name "Latin (Fraktur variant)"},
 "Runr" {:db/ident :script/Runr, :script/name "Runic"},
 "Shrd" {:db/ident :script/Shrd, :script/name "Sharada"},
 "Tagb" {:db/ident :script/Tagb, :script/name "Tagbanwa"},
 "Cirt" {:db/ident :script/Cirt, :script/name "Cirth"},
 "Lana" {:db/ident :script/Lana, :script/name "Tai Tham"},
 "Latg"
 {:db/ident :script/Latg, :script/name "Latin (Gaelic variant)"},
 "Zinh"
 {:db/ident :script/Zinh, :script/name "Code for inherited script"},
 "Kana" {:db/ident :script/Kana, :script/name "Katakana"},
 "Merc" {:db/ident :script/Merc, :script/name "Meroitic Cursive"},
 "Sylo" {:db/ident :script/Sylo, :script/name "Syloti Nagri"},
 "Teng" {:db/ident :script/Teng, :script/name "Tengwar"},
 "Kthi" {:db/ident :script/Kthi, :script/name "Kaithi"},
 "Mand" {:db/ident :script/Mand, :script/name "Mandaic"},
 "Orya" {:db/ident :script/Orya, :script/name "Oriya"},
 "Mtei" {:db/ident :script/Mtei, :script/name "Meitei Mayek"},
 "Vaii" {:db/ident :script/Vaii, :script/name "Vai"},
 "Shaw" {:db/ident :script/Shaw, :script/name "Shavian"},
 "Saur" {:db/ident :script/Saur, :script/name "Saurashtra"},
 "Sora" {:db/ident :script/Sora, :script/name "Sora Sompeng"},
 "Tavt" {:db/ident :script/Tavt, :script/name "Tai Viet"},
 "Tirh" {:db/ident :script/Tirh, :script/name "Tiruta"},
 "Tfng" {:db/ident :script/Tfng, :script/name "Tifinagh"},
 "Glag" {:db/ident :script/Glag, :script/name "Glagolitic"},
 "Taml" {:db/ident :script/Taml, :script/name "Tamil"},
 "Kpel" {:db/ident :script/Kpel, :script/name "Kpelle"},
 "Lepc" {:db/ident :script/Lepc, :script/name "Lepcha"},
 "Sind" {:db/ident :script/Sind, :script/name "Khudawadi"},
 "Deva" {:db/ident :script/Deva, :script/name "Devanagari"},
 "Bopo" {:db/ident :script/Bopo, :script/name "Bopomofo"},
 "Zsym" {:db/ident :script/Zsym, :script/name "Symbols"},
 "Armi" {:db/ident :script/Armi, :script/name "Imperial Aramaic"},
 "Hebr" {:db/ident :script/Hebr, :script/name "Hebrew"},
 "Dupl" {:db/ident :script/Dupl, :script/name "Duployan shorthand"},
 "Egyd" {:db/ident :script/Egyd, :script/name "Egyptian demotic"},
 "Plrd" {:db/ident :script/Plrd, :script/name "Miao"},
 "Mend" {:db/ident :script/Mend, :script/name "Mende"},
 "Khar" {:db/ident :script/Khar, :script/name "Kharoshthi"},
 "Tglg" {:db/ident :script/Tglg, :script/name "Tagalog"},
 "Buhd" {:db/ident :script/Buhd, :script/name "Buhid"},
 "Mani" {:db/ident :script/Mani, :script/name "Manichaean"},
 "Latn" {:db/ident :script/Latn, :script/name "Latin"},
 "Afak" {:db/ident :script/Afak, :script/name "Afaka"},
 "Cprt" {:db/ident :script/Cprt, :script/name "Cypriot"},
 "Lina" {:db/ident :script/Lina, :script/name "Linear A"},
 "Yiii" {:db/ident :script/Yiii, :script/name "Yi"},
 "Visp" {:db/ident :script/Visp, :script/name "Visible Speech"},
 "Cyrl" {:db/ident :script/Cyrl, :script/name "Cyrillic"},
 "Ethi" {:db/ident :script/Ethi, :script/name "Ethiopic"},
 "Qaaa" {:db/ident :script/Qaaa, :script/name "[Multiple scripts]"},
 "Sinh" {:db/ident :script/Sinh, :script/name "Sinhala"},
 "Hira" {:db/ident :script/Hira, :script/name "Hiragana"},
 "Perm" {:db/ident :script/Perm, :script/name "Old Permic"},
 "Copt" {:db/ident :script/Copt, :script/name "Coptic"},
 "Linb" {:db/ident :script/Linb, :script/name "Linear B"},
 "Mymr" {:db/ident :script/Mymr, :script/name "Myanmar"},
 "Rjng" {:db/ident :script/Rjng, :script/name "Rejang"},
 "Wole" {:db/ident :script/Wole, :script/name "Woleai"},
 "Grek" {:db/ident :script/Grek, :script/name "Greek"},
 "Dsrt" {:db/ident :script/Dsrt, :script/name "Deseret"},
 "Egyh" {:db/ident :script/Egyh, :script/name "Egyptian hieratic"},
 "Cham" {:db/ident :script/Cham, :script/name "Cham"},
 "Guru" {:db/ident :script/Guru, :script/name "Gurmukhi"},
 "Arab" {:db/ident :script/Arab, :script/name "Arabic"},
 "Hang" {:db/ident :script/Hang, :script/name "Hangul"},
 "Nshu" {:db/ident :script/Nshu, :script/name "Nüshu"},
 "Armn" {:db/ident :script/Armn, :script/name "Armenian"},
 "Lydi" {:db/ident :script/Lydi, :script/name "Lydian"},
 "Palm" {:db/ident :script/Palm, :script/name "Palmyrene"},
 "Cher" {:db/ident :script/Cher, :script/name "Cherokee"},
 "Limb" {:db/ident :script/Limb, :script/name "Limbu"},
 "Jpan" {:db/ident :script/Jpan, :script/name "Japanese"},
 "Hrkt" {:db/ident :script/Hrkt, :script/name "Japanese syllabaries"},
 "Samr" {:db/ident :script/Samr, :script/name "Samaritan"},
 "Mlym" {:db/ident :script/Mlym, :script/name "Malayalam"},
 "Kali" {:db/ident :script/Kali, :script/name "Kayah Li"},
 "Lyci" {:db/ident :script/Lyci, :script/name "Lycian"},
 "Hani"
 {:db/ident :script/Hani, :script/name "Han (Hanzi, Kanji, Hanja)"},
 "Inds" {:db/ident :script/Inds, :script/name "Indus"},
 "Takr" {:db/ident :script/Takr, :script/name "Takri"},
 "Thaa" {:db/ident :script/Thaa, :script/name "Thaana"},
 "Blis" {:db/ident :script/Blis, :script/name "Blissymbols"},
 "Bugi" {:db/ident :script/Bugi, :script/name "Buginese"},
 "Phli" {:db/ident :script/Phli, :script/name "Inscriptional Pahlavi"},
 "Mero" {:db/ident :script/Mero, :script/name "Meroitic Hieroglyphs"},
 "Laoo" {:db/ident :script/Laoo, :script/name "Lao"},
 "Cari" {:db/ident :script/Cari, :script/name "Carian"},
 "Talu" {:db/ident :script/Talu, :script/name "New Tai Lue"},
 "Avst" {:db/ident :script/Avst, :script/name "Avestan"},
 "Ital" {:db/ident :script/Ital, :script/name "Old Italic"},
 "Gujr" {:db/ident :script/Gujr, :script/name "Gujarati"},
 "Batk" {:db/ident :script/Batk, :script/name "Batak"},
 "Prti"
 {:db/ident :script/Prti, :script/name "Inscriptional Parthian"},
 "Brah" {:db/ident :script/Brah, :script/name "Brahmi"},
 "Cyrs"
 {:db/ident :script/Cyrs,
  :script/name "Cyrillic (Old Church Slavonic variant)"},
 "Loma" {:db/ident :script/Loma, :script/name "Loma"},
 "Kore" {:db/ident :script/Kore, :script/name "Korean"},
 "Syrc" {:db/ident :script/Syrc, :script/name "Syriac"},
 "Khoj" {:db/ident :script/Khoj, :script/name "Khojki"},
 "Brai" {:db/ident :script/Brai, :script/name "Braille"},
 "Gran" {:db/ident :script/Gran, :script/name "Grantha"},
 "Osma" {:db/ident :script/Osma, :script/name "Osmanya"},
 "Nkgb" {:db/ident :script/Nkgb, :script/name "Nakhi Geba"},
 "Sund" {:db/ident :script/Sund, :script/name "Sundanese"},
 "Wara" {:db/ident :script/Wara, :script/name "Warang Citi"},
 "Syre"
 {:db/ident :script/Syre, :script/name "Syriac (Estrangelo variant)"},
 "Egyp" {:db/ident :script/Egyp, :script/name "Egyptian hieroglyphs"},
 "Hano" {:db/ident :script/Hano, :script/name "Hanunoo"},
 "Roro" {:db/ident :script/Roro, :script/name "Rongorongo"},
 "Geok" {:db/ident :script/Geok, :script/name "Khutsuri"},
 "Telu" {:db/ident :script/Telu, :script/name "Telugu"},
 "Mong" {:db/ident :script/Mong, :script/name "Mongolian"},
 "Jurc" {:db/ident :script/Jurc, :script/name "Jurchen"},
 "Beng" {:db/ident :script/Beng, :script/name "Bengali"},
 "Goth" {:db/ident :script/Goth, :script/name "Gothic"},
 "Phlp" {:db/ident :script/Phlp, :script/name "Psalter Pahlavi"},
 "Thai" {:db/ident :script/Thai, :script/name "Thai"},
 "Bali" {:db/ident :script/Bali, :script/name "Balinese"},
 "Maya" {:db/ident :script/Maya, :script/name "Mayan hieroglyphs"},
 "Nkoo" {:db/ident :script/Nkoo, :script/name "N'ko"},
 "Sara" {:db/ident :script/Sara, :script/name "Sarati"},
 "Sgnw" {:db/ident :script/Sgnw, :script/name "SignWriting"},
 "Phag" {:db/ident :script/Phag, :script/name "Phags-pa"},
 "Hans"
 {:db/ident :script/Hans, :script/name "Han (Simplified variant)"},
 "Sarb" {:db/ident :script/Sarb, :script/name "Old South Arabian"},
 "Hmng" {:db/ident :script/Hmng, :script/name "Pahawh Hmong"},
 "Zxxx"
 {:db/ident :script/Zxxx, :script/name "Code for unwritten documents"},
 "Xsux"
 {:db/ident :script/Xsux, :script/name "Cuneiform, Sumero-Akkadian"},
 "Syrj"
 {:db/ident :script/Syrj, :script/name "Syriac (Western variant)"},
 "Hant"
 {:db/ident :script/Hant, :script/name "Han (Traditional variant)"},
 "Lisu" {:db/ident :script/Lisu, :script/name "Lisu (Fraser)"},
 "Zyyy"
 {:db/ident :script/Zyyy, :script/name "Code for undetermined script"},
 "Bass" {:db/ident :script/Bass, :script/name "Bassa Vah"}}
